@using AutoParts.Core.Models.Part
@model AddPartFormModel

@{
    ViewData["Title"] = "Add Part";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Add part</h3>
    </div>


    <form method="post">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Left frong light, Winter tires, etc.">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber"></label>
                <input asp-for="SerialNumber" class="form-control" placeholder="XT3R5T56NH, etc.">
                <span asp-validation-for="SerialNumber" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer"></label>
                <input asp-for="Manufacturer" class="form-control" placeholder="Mercedes-Benz EOOD, Audi OOD, etc.">
                <span asp-validation-for="Manufacturer" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarBrand"></label>
                <input asp-for="CarBrand" class="form-control" placeholder="Mercedes, BMW, Audi, etc.">
                <span asp-validation-for="CarBrand" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel"></label>
                <input asp-for="CarModel" class="form-control" placeholder="E270, A7, E90, etc.">
                <span asp-validation-for="CarModel" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder=".lv">
            </div>
            <div class="form-group">
                <label asp-for="Date"></label>
                <input asp-for="Date" class="form-control" placeholder="@DateTime.UtcNow.Year">
                <span asp-validation-for="Date" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Your image URL">
            </div>
            <label asp-for="IsUserd"></label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Second hand (used)
                </label>
                 <span asp-validation-for="IsUserd" class="small text-danger"></span>
            </div>
            <div class="form-floating">
                <label for="floatingTextarea">Decription</label>
                <textarea class="form-control" placeholder="Describe your product here" id="floatingTextarea"></textarea>
                 <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <lable asp-for="CategoryId"><b>Category</b></lable>
                <select asp-for="CategoryId" class="form-control">
                    <option selected>Open this select menu</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                 <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>