<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <a href="/" class="brand-link">
            <img src="~/img/home-logo.png" alt="Home Logo" class="brand-image img-circle elevation-1" style="opacity: .8">
            <span class="brand-text font-weight-light">Home</span>
        </a>
    </ul>
</nav>