<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <a href="/" class="brand-link">
            <img src="~/img/home-logo.png" alt="Home Logo" class="brand-image img-circle elevation-1" style="opacity: .8">
            <span class="brand-text font-weight-light">Home</span>
        </a>
        @if (User.IsInRole("Administrator"))
        {
            <a href="/admin/user/manageusers" class="brand-link">
                <img src="~/img/set-roles.png" alt="Roles Logo" class="brand-image img-circle elevation-1" style="opacity: .8">
                <span class="brand-text font-weight-light">Set Roles</span>
            </a>
        }
        <a href="/Parts/Add" class="brand-link">
            <img src="~/img/add.png" alt="Add Logo" class="brand-image img-circle elevation-1" style="opacity: .8">
            <span class="brand-text font-weight-light">Add part</span>
        </a>
    </ul>
</nav>